.u-layout {
  display: grid;
  grid-template-rows: 160px 1fr auto;
  grid-template-columns: 1fr 250px;
  grid-template-areas: 'header header'
  'main aside'
  'footer footer';
  height: 100vh;
  &__header {
    grid-area: header;
  }
  &__main {
    grid-area: main;
    border: 1px solid $veryDarkGray;
  }
  &__aside {
    grid-area: aside;
    border: 1px solid $veryDarkGray;
  }
  &__footer {
    grid-area: footer;
    border: 1px solid $veryDarkGray;
  }
}