.main {
  height: 100%;
  &__container {
    display: grid;
    grid-template-columns: minmax(1024px, 1fr);
    gap: 20px;
  }
}
.article {
  position: relative;
  margin-bottom: 1em;
  &::before {
    content: "";
      height: 4px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #8A2387;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &__title {
    margin: 1em 0;
  }
  &__description {
    margin-bottom: 1.5em;
  }
}