@import url(https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap);

//Vars
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$veryDarkGray: #666666;
$color-white: #fff;
$veryDarkBlue: #1f2d41;
$grisSuave: #e0e0e0;
$black:#100e17;